// app global css
a {
    text-decoration: none;
    color: #416D88;
}

.bg-primary {
    background: #416D88;    
}

.bg-blue {
    color: #fff;
    background: #21A9FB !important;
}

.bg-yellow {
    color: #fff;
    background: #FFBC00 !important;
}

.bg-orange {
    color: #fff;
    background: #EC8000 !important;
}

.bg-green {
    color: #fff;
    background: #9FA835 !important;
}

.tab-label {
    font-size: 0.6rem;
    color: #fff;    
}

.tab-label i {
    font-size: 1rem;
    color: #fff;
}

.q-tabs-bar {
    color: #8DC4E6;
}

.q-select i {
    color: #8DC4E6 !important;
}

.q-input-target {
    margin-right: 10px;
}

.q-carousel-quick-nav {
    background: inherit !important;
}

.q-carousel-quick-nav i {
    color: #fff;
    font-size: 0.875rem;
}

.q-carousel-quick-nav .q-btn.inactive .q-icon {
    font-size: 0.5rem !important;    
}

.q-carousel-quick-nav .q-icon {
    font-size: 0.6rem !important;
}

.select-period .q-input-target {
    color: #8DC4E6 !important;
    font-weight: 600;
}

.q-carousel-left-arrow, .q-carousel-right-arrow {
    background: inherit;
    font-size: 1.5rem;
}

.q-carousel-left-arrow .q-btn-inner i, .q-carousel-right-arrow .q-btn-inner i {
    color: #fff;
    font-size: 2.5rem !important;
}

.padded{
    padding-top: 60px;
}